# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ / JetBrains
.idea/
*.iml
out/

# Logs & temp
*.log
*.tmp
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env & local config
.env
*.local

.idea/**/workspace.xml
.idea/**/tasks.xml

logs/
hs_err_pid*

application-local.properties
application-local.yml
